@import "src/styles/variables";

.app-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header"
        "container";
    min-height: 100%;
}

.app-container {
    grid-area: container;
    display: flex;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.app-content {
    grid-area: content;
    padding: 0em 1em 1em 1em;
    width: 100%;
    transition: width .3s;
}

.content-header {
    color: $accent-color;
    margin-block-start: 0em;
    margin-block-end: 1em;
    font-size: 1.2em;
    font-weight: 500;
}