@import "src/styles/variables";

:host {
    grid-area: header;
    display: flex;
    flex-direction: column;
    height: 10vh;
    background-color: $secondary-background-color;
    box-shadow: 0px 2px 4px -2px $shadow-color;
    z-index: 1;
    transition: height .5s;
    width: 100%
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    padding-left: 10%;
}


.gradient {
    display: flex;
    align-content: center;
    align-items: center;
    height: 2vh;
    background: $brand-gradient;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4vw;
    transition: height .5s;
}